.projects-header,
.mates-header {
  width: 70%;
  height: 60px;
  background-color: $white;
  box-shadow: $divShadow;
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  margin: 25px auto;
  overflow: hidden;
  padding: 0;
  form {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .input-wrapper {
      background: none;
      position: relative;
      border-radius: 0;
      width: 100%;
      height: 30px;
      padding: 0 20px;
      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background-color: $bgBlue;
        font-family: $font;
        font-size: 1rem;
        font-weight: 500;
        color: $lightGrey;
        border-radius: 25px;
        padding: 5px 10px;
        padding-left: 35px;
      }
      input::placeholder {
        color: #a5b8e6;
      }
      .clear-btn,
      .focus-btn {
        min-width: 30px;
        height: 100%;
        border-radius: 0;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.2s;
        position: absolute;
        top: 0;
        left: 1px;
        img {
          width: 40%;
        }
      }
      .clear-btn {
        img {
          width: 30%;
          height: 30%;
        }
      }
      .clear-btn:active {
        transform: scale(0.9);
      }
    }
  }
  .right {
    width: 40%;
    margin: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    button,
    a {
      display: flex;
      align-items: center;
      height: 100%;
      background: none;
      border: none;
      outline: none;
      font-family: $font;
      text-decoration: none;
      padding: 15px 30px;
      cursor: pointer;
      img {
        width: 25px;
        height: 25px;
        margin-right: 15px;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        color: $lightGrey;
        transition: 0.2s;
      }
    }
  }
  .right:hover {
    background-color: $bgBlue;
    button {
      p {
        color: $blue;
      }
    }
  }
}
.mates-header {
  width: 50%;
  // margin-right: 17%;
  // margin-left: auto;
  form {
    width: 90%;
    input {
      width: 100%;
    }
  }
}
.list-of-projects {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 25px;
  position: relative;
  width: 80%;
  margin-bottom: 25px;
}
.project {
  list-style-type: none;
  width: 100%;
  border-radius: 21px;
  background-color: $white;
  box-shadow: $divShadow;
  // background-color: $dark;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 20px 35px;
  position: relative;
  transition: 0.2s;
  .top {
    display: flex;
    align-items: center;
    width: 100%;
    .project-details {
      a {
        font-size: 1.2rem;
        font-weight: 700;
        color: $dark;
        text-decoration: none;
        cursor: pointer;
        transition: 0.2s;
      }
      a:hover {
        color: $blue;
      }
      .post-date {
        font-size: 0.9rem;
        font-weight: 500;
        color: $textLight;
      }
      .project-creator {
        font-size: 1.2rem;
        font-weight: 500;
        color: $lightGrey;
        margin-left: 5px;
        em {
          text-transform: capitalize;
          font-style: normal;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
    .btn-wrapper {
      display: none;
      margin-left: auto;
      z-index: 5;
      .post-buttons {
        background: none;
        border: none;
        outline: none;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .responsive-btns {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: none;
        border: none;
        outline: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s;
        img {
          width: 50%;
          height: auto;
        }
      }
      .responsive-play {
        img {
          width: 30%;
          transform: translate(2px);
        }
      }
      .responsive-play:hover {
        background-color: $lightBlue;
      }
      .responsive-share {
        img {
          width: 35%;
        }
      }
      .responsive-share:hover {
        background-color: $lightGreen;
      }
      button:active {
        transform: scale(0.9);
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 25px;

    p {
      font-size: 0.9rem;
      font-weight: 600;
      color: $blue;
    }
    .public {
      color: $blue;
    }
    .private {
      color: $textLight;
    }
    .contributors {
      margin-left: auto;
      display: flex;
      align-items: center;
      z-index: 6;
      button {
        background: none;
        border: none;
        outline: none;
        font-family: $font;
        font-size: 1rem;
        font-weight: 600;
        margin-right: 15px;
        color: $textLight;
        cursor: pointer;
      }
      img {
        width: 25px;
        height: 25px;
      }
      .contributor-avatar-link {
        position: relative;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
      }
      .avatar-hover {
        background-color: $dark;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 1px 10px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          margin: auto;
          color: $white;
        }
      }
    }
  }
  .shared-response {
    width: auto;
    padding: 5px 15px;
    height: 30px;
    background-color: $blue;
    box-shadow: $divShadow;
    position: absolute;
    right: 15px;
    top: -30px;
    z-index: 10;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $white;
      font-size: 1rem;
      font-weight: 600;
    }
  }
  .success-true {
    background-color: $blue;
    color: $white;
  }
  .success-false {
    background-color: $red;
    color: $white;
  }
}

.users-projects,
.profile-display {
  .project {
    .bottom {
      margin-top: 5px;
      .contributors {
        margin-right: 2px;
      }
    }
  }
}

.result-component {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bgOpacity;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    width: 500px;
    // height: 300px;
    background-color: $white;
    box-shadow: $divShadow;
    border-radius: 12px;
    padding: 0 35px;
    p {
      font-size: 1rem;
      font-weight: 500;
      color: $dark;
      margin-top: 35px;
      text-align: center;
      em {
        font-style: normal;
        color: $blue;
        font-size: 1.1rem;
        font-weight: 500;
      }
      .capitalize {
        text-transform: capitalize;
      }
    }
    .btn-wrapper {
      width: 100%;
      display: flex;
      margin: 35px 0;
      a,
      button {
        background: none;
        outline: none;
        border: none;
        padding: 5px 15px;
        margin: 0 auto;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        p {
          position: relative;
          text-transform: none;
          font-family: $font;
          color: $dark;
          margin: 0;
        }
        .btn-bg {
          min-width: 0%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: $blue;
          transition: 0.3s;
        }
      }
      a {
        background-color: $lightBlue;
        padding: 10px 25px;
        p {
          color: $blue;
        }
      }
      a:hover {
        p {
          color: $white;
        }
        .btn-bg {
          min-width: 100%;
        }
      }
      button:hover {
        p {
          color: $blue;
        }
      }
      .delete-btn {
        background-color: $lightRed;
        .btn-bg {
          background-color: $red;
        }
        p {
          color: $red;
        }
      }
      .delete-btn:hover,
      .add-btn:hover {
        p {
          color: $white;
        }
        .btn-bg {
          min-width: 100%;
        }
      }
      .add-btn {
        background-color: $lightBlue;
        .btn-bg {
          background-color: $blue;
        }
        p {
          color: $blue;
        }
      }
    }
  }
}
.contributor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bgOpacity;
  z-index: 50;
  .contributor-panel {
    // position: absolute;
    // top: 130px;
    // right: 0;
    width: 400px;
    background-color: $white;
    box-shadow: $divShadow;
    border-radius: 21px;
    color: $dark;
    z-index: 10;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    .panel-heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      height: 40px;
      padding: 25px 0;
      position: relative;
      p {
        font-size: 1.2rem;
        font-weight: 600;
        color: $blue;
        text-align: center;
      }
      button {
        background: none;
        border: none;
        outline: none;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        cursor: pointer;

        transition: 0.2s;
        img {
          width: 80%;
        }
      }
      button:active {
        transform: scale(0.9);
      }
    }
    ul {
      display: flex;
      margin-bottom: 25px;
      max-height: 200px;
      overflow-x: auto;
      li {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 2px 0;
        padding: 0 25px;
        position: relative;
        // border: 2px red solid;
        img {
          width: 40px;
          margin-right: 15px;
        }
        .user-link {
          width: 100%;
          height: 100%;
          margin-right: auto;
          position: relative;
          text-decoration: none;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          color: $blue;
          p {
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 40px;
          }
          .hover-show {
            font-size: 1rem;
            font-weight: 500;
            color: $textLight;
            margin-left: 25px;
            margin-top: 2px;
            opacity: 0;
            transition: 0.1s;
          }
        }
        .remove-contributor {
          background: none;
          border: none;
          outline: none;
          padding: 5px 10px;
          transition: 0.2s;
          border-radius: 5px;
          cursor: pointer;
          p {
            font-family: $font;
            font-size: 1rem;
            font-weight: 500;
            color: $red;
          }
          img {
            width: 15px;
            margin: auto;
          }
        }
        .remove-contributor:hover {
          background-color: $lightRed;
        }
        .add-btn {
          background: none;
          border: none;
          outline: none;
          color: $blue;
          padding: 5px 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: 0.2s;
          p {
            font-family: $font;
            font-size: 1rem;
            font-weight: 500;
            color: $blue;
          }
        }
        .add-btn:hover {
          background-color: $lightBlue;
        }
      }
      li:hover {
        .user-link {
          .hover-show {
            opacity: 1;
          }
        }
      }
    }
    .remove-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $lightRed;
      border-radius: 5px;
      z-index: 10;
      max-width: 0%;
      transition: 0.2s;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-wrapper {
        display: flex;
        width: 60%;
        button {
          border: none;
          outline: none;
          border-radius: 5px;
          margin: auto;
          padding: 5px 20px;
          position: relative;
          overflow: hidden;
          cursor: pointer;
          .btn-bg {
            position: absolute;
            top: 0;
            left: 0;
            min-width: 0%;
            max-width: none;
            height: 100%;
            transition: 0.4s;
          }
          p {
            position: relative;
            font-family: $font;
            font-size: 1rem;
            font-weight: 600;
          }
        }
        .remove-btn {
          background: none;
          background-color: $white;
          color: $red;
          .btn-bg {
            background-color: $red;
          }
        }
        .cancel-btn {
          background: none;
          background-color: white;
          color: $blue;
          .btn-bg {
            background-color: $blue;
          }
        }
        .remove-btn:hover,
        .cancel-btn:hover {
          p {
            color: $white;
          }
          .btn-bg {
            min-width: 100%;
          }
        }
      }
    }
    .mates-on-contributors {
      max-height: 300px;
      padding: 0;
      margin-top: 25px;
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: auto;
    }
    form {
      width: 100%;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      label {
        font-size: 1.1rem;
        font-weight: 600;
        color: $blue;
        margin-bottom: 5px;
        margin-left: 25px;
      }
      .input-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        height: 40px;
        input {
          background: none;
          border: none;
          outline: none;
          background-color: $bgBlue;
          padding: 5px;
          padding-left: 25px;
          padding-right: 45px;
          height: 100%;
          font-family: $font;
          font-size: 1.1rem;
          font-weight: 500;
          color: $placeholderDark;
          border-radius: 5px 0 0 5px;
          border-radius: 25px;
          width: 100%;
        }
        input::placeholder {
          font-size: 1.1rem;
          font-weight: 500;
          color: $placeholderDark;
        }
        .search-btn {
          width: 50px;
          height: 100%;
          position: absolute;
          padding: 0;
          margin: 0;
          right: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: none;
          outline: none;
          cursor: pointer;
          img {
            border-radius: 0;
            padding: 0;
            overflow: none;
            border: none;
          }
        }
      }
    }
    .exit-btn {
      padding: 5px 60px;
      margin: 0 auto;
      margin-bottom: 10px;
      align-self: center;
      background: none;
      border: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      p {
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 500;
        color: $blue;
      }
    }
    .exit-btn:hover {
      background-color: $lightBlue;
    }
  }
}

#searched-projects-list {
  margin: 0;
  border-bottom: 2px $lightBlue solid;
  .project {
    margin: 12.5px auto;
  }
}

@media (max-width: 350px) {
  .result-component {
    .wrapper {
      width: 85%;
      padding: 0 25px;
      p {
        margin-top: 25px;
      }
      .btn-wrapper {
        margin: 25px 0;
        flex-direction: column;
        a,
        button {
          margin: 0 auto;

          width: 90%;
          text-align: center;
          padding: 10px 0;
        }
        button {
          margin-top: 10px;
        }
      }
    }
  }
}
@media (min-width: 351px) and (max-width: 460px) {
  .result-component {
    .wrapper {
      width: 85%;
      padding: 0 25px;
      p {
        margin-top: 25px;
      }
      .btn-wrapper {
        margin: 25px 0;
      }
    }
  }
}
@media (max-width: 460px) {
  .projects-header,
  .mates-header {
    width: 100%;
    box-shadow: none;
    border-bottom: 2px $lightBlue solid;
    border-radius: 0;
    margin: 0;
    padding: 5px 15px;
    align-items: center;
    form {
      width: 80%;
    }
    .right {
      width: 20%;
      button {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        padding: 0;
        justify-content: center;
        transition: 0.2s;
        img {
          margin: 0;
          width: 60%;
        }
        p {
          display: none;
        }
      }
    }
    .right:hover {
      background: none;
      button {
        background-color: $lightBlue;
      }
    }
  }
  .project {
    padding: 20px;
  }
  .list-of-projects {
    .project {
      padding: 20px;
      .top {
        align-items: flex-start;
        .btn-wrapper {
          margin: 15px 0;
          display: none;
          button {
            margin: 0;
            margin-right: 20px;
          }
        }
        .responsive-btns {
          margin-left: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            background: none;
            border: none;
            outline: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.2s;
            img {
              width: 50%;
              height: auto;
            }
          }
          .responsive-play {
            img {
              width: 30%;
              transform: translate(2px);
            }
          }
          .responsive-play:hover {
            background-color: $lightBlue;
          }
          button:active {
            img {
              transform: scale(0.9);
            }
          }
        }
      }
      .bottom {
        display: none;
      }
    }
  }
}
@media (min-width: 461px) and (max-width: 830px) {
  .projects-header,
  .mates-header {
    form {
      width: 100%;
    }
    .right {
      width: 25%;
      margin-left: auto;
      button {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        img {
          width: 60%;
          margin: 0;
        }
        p {
          display: none;
        }
      }
    }
    .right:hover {
      background: none;
      button {
        background-color: $lightBlue;
      }
    }
  }
  .result-component {
    .wrapper {
      width: 350px;
      padding: 0 25px;
      p {
        margin-top: 25px;
      }
      .btn-wrapper {
        margin: 25px 0;
      }
    }
  }
}

@media (max-width: 700px) {
  .list-of-projects {
    width: 100%;
    .no-posts {
      width: 100%;
    }
  }
  .contributor-container {
    .contributor-panel {
      width: 80%;
      max-height: 80%;
      padding: 0 15px;
      ul {
        li {
          padding: 0 10px;

          .hover-show {
            display: none;
          }
        }
        li:hover {
          .user-link {
            p {
              color: $textLight;
            }
          }
        }
      }
      .remove-bg {
        .btn-wrapper {
          width: 100%;
          button {
            margin: 0 auto;
          }
        }
      }
      form {
        min-width: 80%;
        margin: 0 auto;
      }
    }
  }
}
