.workspace-container {
  display: flex;
  width: 100%;
  height: 50vh;
  .delete-panel {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100;
    border: none;
    p {
      margin: 0 auto;
    }
    .button-wrapper {
      margin: 0 auto;
      margin-top: 25px;
    
      .delete-btn {
        color: $white;
      }
      button {
        color: $blue;
        margin: 0 10px;
      }
    }
  }
  .track-list-container {
    width: 40%;
    height: 100%;
    // padding: 25px;
    position: relative;
    .track-list-header {
      height: 50px;
      display: grid;
      grid-template-columns: 0.4fr 0.6fr 0.4fr;
      margin: 0 20px;
      p {
        text-align: center;
        margin: auto 0;
        font-size: 1rem;
        font-weight: 700;
      }
    }
    .recorder-container {
      // position: absolute;
      // bottom: 90px;
      // left: 0;
      position: fixed;
      bottom: 90px;
      left: 0;
      z-index: 15;
      margin-left: 50%;
      left: -50px;
      width: 100px;
      height: 60px;
      background-color: $dark;
      box-shadow: $divShadow;
      border-radius: 22px 22px 0 0;
      color: white;
      display: flex;
      // align-items: center;
      .center-wrapper {
        display: flex;
        // margin: 0 50px;
        margin: auto;
        align-items: center;
        justify-content: center;
        .recording-btns {
          background: none;
          border: none;
          outline: none;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 0;
          // margin-right: 15px;
          cursor: pointer;
          img {
            width: 100%;
          }
        }
        #record {
          width: 40px;
          height: 40px;
        }
      }
      .track-popup {
        width: 300px;
        height: 150px;
        background-color: $dark;
        padding: 15px;
        position: absolute;
        margin-left: 50%;
        left: -150px;
        top: -160px;
        z-index: 20;
        border-radius: 18px;
        form {
          display: flex;
          flex-direction: column;
          width: 80%;
          margin: 0 auto;
          span {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
            label {
              font-size: 1rem;
              font-weight: 500;
              color: white;
              margin-left: 15px;
              margin-bottom: 5px;
            }
            input {
              padding: 5px 15px;
              border: none;
              outline: none;
              background-color: $lightBlue;
              border-radius: 3px;
              color: $dark;
              font-family: $font;
              font-size: 1.1rem;
              font-weight: 500;
            }
          }
          input[type="submit"] {
            cursor: pointer;
            background-color: $blue;
            border: none;
            outline: none;
            padding: 5px;
            border-radius: 9px;
            color: white;
            font-family: $font;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }
    }
    .track-list-scroll {
      height: calc(100vh - 210px);
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: auto;

      .track-container {
        width: 90%;
        // height: 100px;
        background-color: $white;
        box-shadow: $divShadow;
        border-radius: 21px;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr 0.4fr;
        padding: 20px;
        margin: 10px auto;
        position: relative;
        display: flex;
        .play-audio {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
        }
        .play-audio:hover {
          cursor: pointer;
        }
        .track-details {
          display: flex;
          flex-direction: column;
          align-self: center;
          .track-name {
            font-size: 1.2rem;
            font-weight: 700;
          }
          .track-date {
            font-size: 0.7rem;
            font-weight: 500;
          }
        }
        .track-scrub {
          width: 100%;
          display: flex;
          align-self: center;
          .scrub {
            width: 80%;
            height: 5px;
            border-radius: 50px;
            background-color: $dark;
            margin: auto 0;
          }
          .track-time {
            font-size: 0.8rem;
            font-weight: 600;
            margin-left: 15px;
          }
        }
        .track-options {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: auto;
          width: 120px;
          button {
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            outline: none;
            border-radius: 50%;
            margin-left: 20px;
            cursor: pointer;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .lyrics-container,
  .tabs-container {
    width: 30%;
    height: 100%;
    padding: 0 25px;
    position: relative;
    .lyric-tab-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 43px;
      .add-btn {
        width: 30px;
        height: 30px;
        background: none;
        border: none;
        outline: none;
        border-radius: 50%;
        box-shadow: $divShadow;
        margin: auto 0;
        margin-left: auto;
        margin-right: 40px;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
    }
    .lyric-tab-top {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      p {
        font-size: 1rem;
        font-weight: 700;
      }
      .button-container {
        display: flex;
        margin-left: auto;
        button {
          width: 40px;
          height: 40px;
          margin-left: 10px;
          border-radius: 50%;
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          img {
            width: 100%;
          }
        }
        .edit-btn {
          img {
            width: 40%;
          }
        }
      }
    }
    .default-workspace {
      width: 80%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-self: center;
      justify-content: center;
      background-color: $white;
      box-shadow: $divShadow;
      border-radius: 21px;
      margin: 15px auto;
      p {
        font-size: 1rem;
        font-weight: 600;
        opacity: 60%;
        margin: 0 auto;
        margin-bottom: 15px;

      }
      button {
        background: none;
        border: none;
        outline: none;
        background-color: $blue;
        color: $white;
        padding: 5px 25px;
        border-radius: 9px;
        margin: auto;
        cursor: pointer;
        transition: 0.2s;
      }
      button:active {
        transform: scale(0.9);
      }
    }
    .lyric-tab-scroll-container {
      height: calc(100vh - 210px);
      width: 100%;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      overflow-x: auto;

      .lyric-tab-container, .tab-container {
        list-style-type: none;
        width: 90%;
        min-height: 80px;
        margin: 0 auto;
        background-color: $white;
        box-shadow: $divShadow;
        border-radius: 21px;
        padding: 10px 25px;
        margin-bottom: 25px;
        margin-top: 10px;
        position: relative;
        .lyric-content {
          margin: 10px 0;
          p {
            font-size: 1rem;
            font-weight: 400;
          }
        }
        .tab-grid {
          display: grid;
          grid-template-columns: repeat(11, 1fr);
          grid-template-rows: repeat(6, 1fr);
          width: 100%;
          position: relative;
          margin-top: 15px;
          padding-bottom: 15px;
          .grid-lines {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 1px;
  
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, 20px);
            gap: 6.5px;
            z-index: 5;
            .line {
              height: 2px;
              border-radius: 50px;
              background-color: $inputGrey;
              margin: auto 0;
            }
          }
          span {
            z-index: 6;
            p {
              margin-bottom: 4.5px;
              text-align: center;
              background-color: white;
              border-radius: 25px;
              font-weight: 600;
              color: $dark
            }
          }
        }
      }
      .tab-container { 
        min-height: 250px;
      }
    }
  }
}

.workspace-reszized {
  width: 100%;
  // height: 80vh;
  display: flex;
  flex-direction: column;
  .workspace-resize-buttons {
    position: fixed;
    top: 70px;
    width: 100%;
    height: 80px;
    padding: 0 10%;
    background-color: $dark;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    z-index: 10;
    button {
      background: none;
      border: none;
      outline: none;
      font-family: $font;
      font-weight: 500;
      font-size: 1.2rem;
      color: $white;
      cursor: pointer;
    }
  }
  .track-list-container,
  .tabs-container,
  .lyrics-container {
    // width: 100%;
    // height: 90%;
    margin: 0 auto;
    margin-top: 90px;
    .track-list-scroll,
    .lyric-tab-scroll-container {
      height: calc(100vh - 305px);
      .lyrics-container,
      .lyric-tab-top {
        .button-container {
          button {
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border-radius: 50%;
            img {
              width: 100%;
            }
          }
          .edit-btn {
            img {
              width: 50%;
            }
          }
        }
      }
    }
  }
}
.recorder {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100vh;
  // background-color: rgba(0, 0, 0, 0.5);
  // display: flex;
  // // align-items: center;
  // // justify-content: center;
  z-index: 11;
  ._1ceqH {
    width: 400px;
    font-family: $font;
    color: $blue;
    ._2fG9h {
      ._dt3-T {
        border-radius: 35px;
        overflow: hidden;
        background-color: $white;
        ._1lB9c {
          background-color: white;

          ._2N9dq {
            color: $blue;
            font-size: 1.2rem;
            font-weight: 700;
            font-family: $font;
          }
          ._3-aC9 {
            // background-color: $blue;
          }
        }
        ._3bC73 {
          ._1Yplu {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          ._1YOWG {
            ._f2DT8 {
              span {
                color: $blue;
              }
            }
            ._eV_dK {
              color: $blue;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 610px) {
  .workspace-reszized {
    .track-list-container,
    .tabs-container,
    .lyrics-container {
      width: 100%;
    }
  }
}

@media (min-width: 610px) and (max-width: 1000px) {
  .workspace-reszized {
    .track-list-container,
    .tabs-container,
    .lyrics-container {
      width: 80%;
    }
  }
}
