.add-mate,
.remove-mate {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  margin: auto 0;
  margin-right: 80px;
  background: none;
  border: none;
  outline: none;
  background-color: $bgBlue;
  align-items: center;
  justify-content: center;
  padding: 15px;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  p {
    font-family: $font;
    font-size: 1.2rem;
    font-weight: 600;
    color: $blue;
  }
  img {
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
}
.remove-mate {
  background-color: $lightRed;
  p {
    color: $red;
  }
  img {
    rotate: 90deg;
  }
}
.add-mate:active {
  transform: scale(0.9);
}
.add-mate:disabled {
  transform: none;
}

.res-status {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 30px;
  padding: 0 40px;
  padding: 5px;
  bottom: 35px;
  right: 230px;
  margin-right: 20px;
  background-color: $blue;
  color: white;
  box-shadow: $divShadow;
  border-radius: 30px;
  overflow: none;
  div {
    width: 15px;
    height: 15px;
    background-color: white;
    margin-right: 15px;
    border-radius: 50%;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    color: $white;
  }
}
.profile-wrapper,
.user-profile-wrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  z-index: 5;
  .info-wrappers,
  .edit-form {
    // width:100%;
    width: 100%;
    background-color: $white;
    box-shadow: $divShadow;
    padding: 25px;
    border-radius: 21px;
    margin: 0 auto;
    margin-bottom: 25px;
    display: flex;
    // flex-direction: column;
    position: relative;
    .my-profile-avatar {
      width: 80px;
      height: 80px;
      margin-right: 15px;
      img {
        width: 100%;
      }
    }
    .name-dob-wrapper {
      display: flex;
      flex-direction: column;
      width: 40%;
      margin-right: 15px;
    }
    .email-container {
      width: 40%;
      overflow-x: hidden;
      .profile-info {
        word-break: break-all;
      }
    }
    .name-email-wrapper {
      width: 100%;
      display: flex;
      margin-bottom: 15px;
    }
    .label {
      font-size: 1rem;
      font-weight: 600;
      color: $second;
      margin-bottom: 5px;
    }
    span {
      margin-bottom: 15px;
    }
    .profile-info {
      font-size: 1.2rem;
      font-weight: 600;
    }
    .empty-state-wrapper {
      // display: flex;
      // flex-direction: column;
      margin: 0 auto;
      text-align: center;
      .add-info-btn {
        background-color: $blue;
        border: none;
        outline: none;
        font-family: $font;
        font-size: 1rem;
        color: $white;
        border-radius: 5px;
        padding: 5px 20px;
        margin-top: 5px;
        transition: 0.2s;
        cursor: pointer;
      }
      .add-info-btn:active {
        transform: scale(0.9);
      }
    }
    .capitalize {
      text-transform: capitalize;
    }
    .instruments {
      text-transform: capitalize;
    }
    .email-container {
      margin-left: auto;
      margin-right: 50px;
    }
    .edit-profile {
      position: absolute;
      top: 20px;
      right: 20px;
      background: none;
      outline: none;
      border: none;
      width: 15px;
      height: 15px;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
    .left-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .user-profile-btn {
        position: relative;
        background: none;
        outline: none;
        border: none;
        margin-top: 15px;
        padding: 5px 10px;
        background-color: $lightBlue;
        color: $blue;
        border-radius: 6px;
        cursor: pointer;
        overflow: hidden;
        .btn-bg {
          position: absolute;
          top: 0;
          left: 0;
          background-color: $blue;
          min-width: 0%;
          height: 100%;
          transition: 0.2s;
        }
        p {
          position: relative;
          font-family: $font;
          font-size: 1rem;
          font-weight: 500;
          color: $blue;
        }
      }
      .user-profile-btn:hover {
        p {
          color: $white;
        }
        .btn-bg {
          min-width: 100%;
        }
      }
      .user-profile-options {
        position: relative;
        background: none;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        cursor: pointer;
        overflow: hidden;
        cursor: pointer;
        .btn-bg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          min-height: 0%;
          min-width: 0%;
          border-radius: 50%;
          background-color: $lightGrey;
          opacity: 0.2;
          transition: 0.2s;
        }
        img {
          position: relative;
          z-index: 5;
          width: 60%;
          height: auto;
          border: 1px red solid;
          border: none;
          overflow: none;
          object-fit: cover;
        }
      }
      .user-profile-options:hover {
        .btn-bg {
          min-width: 100%;
          min-height: 100%;
        }
      }
      .req-sent {
        cursor: default;
      }
      .req-sent:hover {
        p {
          color: $blue;
        }
      }
    }
  }
  .edit-form {
    flex-direction: column;
    .bio-wrapper {
      width: 100%;
      textarea {
        width: 100%;
        height: 150px;
        resize: none;
        margin-bottom: 15px;
      }
    }
    .instruments-wrapper {
      width: 100%;
      input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    span {
      display: flex;
      flex-direction: column;
      .dob-span {
        flex-direction: row;
      }
      input,
      textarea {
        background: none;
        border: none;
        outline: none;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: $dark;
        border-radius: 4px;
        background-color: $lightBlue;
        padding: 7px 15px;
        width: 100px;
        margin-right: 25px;
      }
      input::placeholder,
      textarea::placeholder {
        opacity: 0.5;
        color: $dark;
      }
    }
    input[type="submit"] {
      width: 100px;
      margin-left: auto;
      background-color: $second;
      border: none;
      outline: none;
      color: white;
      font-family: $font;
      font-weight: 500;
      border-radius: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      cursor: pointer;
    }
    .dob-wrapper {
      flex-direction: row;
      margin: 0;
      width: 60%;

      input,
      select {
        background: none;
        border: none;
        outline: none;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: $dark;
        border-radius: 4px;
        background-color: $lightBlue;
        padding: 7px 15px;
      }
      .dob-inputs {
        display: flex;
        label {
          font-size: 1rem;
          font-weight: 600;
          // color: #5fd396;
          color: $blue;
          margin-bottom: 5px;
        }
        input {
          width: 100%;
        }
        .dob-input {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .day-wrapper {
        width: 20%;
      }
      .month-wrapper {
        width: 45%;
        margin: 0 auto;
        #month {
          padding-right: 15px;
          color: $dark;
        }
        #month:required {
          color: #a4a4af;
        }
        #month:valid {
          color: $dark;
        }
      }
      .year-wrapper {
        width: 23%;
      }
    }
  }

  .profile-components-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    li {
      list-style-type: none;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background: none;
        border: none;
        outline: none;
        padding: 10px 25px;
        // background-color: $white;
        color: $dark;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 9px;

        cursor: pointer;
      }
      .display-normal {
        background: none;
        color: $blue;
      }
      .display-active {
        background-color: $blue;
        color: $white;
      }
      .active-btn {
        background-color: $lightBlue;
        color: $second;
        // box-shadow: $divShadow;
      }
    }
    select {
      display: none;
      color: $dark;
      border: none;
      outline: none;
      width: 80%;
      background-color: $white;
      color: $blue;
      font-family: $font;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 10px 25px;
      border-radius: 5px;
      box-shadow: $divShadow;
      margin: 0 auto;
      cursor: pointer;
    }
  }
  .profile-display {
    margin-top: 50px;
    margin-bottom: 200px;
    flex-direction: column;
  }
}

.user-profile-wrapper {
  justify-content: flex-start;
  .profile-top-wrapper {
    width: 100%;
    display: flex;
    .info-wrappers {
      width: 60%;
      margin-left: 0;
      margin-right: 0;
      flex-direction: row;
      .profile-avatar {
        width: 100px;
        height: 100px;
        // border: 2px solid black;
        border-radius: 50%;
        img {
          width: 100%;
        }
      }
      .name-dob {
        margin-left: 25px;
      }
    }
    .user-instruments {
      margin-left: auto;
      width: 35%;
    }
  }
}

.create-profile-container {
  width: 80%;
  // height: 400px;
  background-color: $white;
  box-shadow: $divShadow;
  margin: 0 auto;
  border-radius: 21px;
  padding: 25px;
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 15px;
    margin-bottom: 15px;
    color: $second;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    label {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 5px;
      margin-left: 15px;
    }
    input,
    textarea {
      border: none;
      outline: none;
      background-color: $lightBlue;
      padding: 5px 15px;
      border-radius: 9px;
      font-family: $font;
      font-size: 1rem;
      font-weight: 600;
    }
    input::placeholder,
    textarea::placeholder {
      opacity: 0.5;
      color: $dark;
    }
    input[type="submit"] {
      width: 100px;
      margin-left: auto;
      background-color: $second;
      color: white;
      font-weight: 600;
      border-radius: 11px;
      cursor: pointer;
    }
    .name-container {
      display: flex;
      width: 100%;
      span {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
      }
    }
    .dob-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 25px 0;
      span {
        display: flex;
        input {
          margin-right: 20px;
        }
      }
    }
    .bio-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-bottom: 25px;
      textarea {
        height: 100px;
        resize: none;
      }
    }
    .instruments {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 460px) {
  .profile-wrapper,
  .user-profile-wrapper {
    width: 100%;
    margin-top: 0;
    .info-wrappers {
      flex-direction: column;
      border-radius: 0;
      margin: 0;
      border-bottom: 2px $lightBlue solid;
      box-shadow: none;
      .my-profile-avatar {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 100px;
        height: 100px;
      }
      .name-dob-wrapper,
      .email-container {
        margin: 0 auto;
        width: 100%;
      }
    }
    .edit-form {
      border-radius: 0;
      box-shadow: none;
      .name-email-wrapper {
        flex-direction: column;
        span {
          input {
            width: 100%;
          }
        }
        .email-container {
          display: none;
        }
      }
      .dob-wrapper {
        width: 100%;
        flex-direction: column;
        .day-wrapper,
        .month-wrapper,
        .year-wrapper {
          width: 100%;
          margin: 5px 0;
        }
      }
      input[type="submit"] {
        margin: 0 auto;
        margin-top: 15px;
        width: 100%;
      }
    }
    .profile-components-options {
      li {
        display: none;
      }
      display: flex;
      select {
        display: block;
        border: 2px $lightBlue solid;
        box-shadow: none;
      }
    }
    .profile-display {
      padding: 0 15px;
    }
  }
}
@media (min-width: 461px) and (max-width: 690px) {
  .profile-wrapper,
  .user-profile-wrapper {
    width: 90%;
    .info-wrappers {
      flex-direction: column;
      .my-profile-avatar {
        margin: 0 auto;
        margin-bottom: 25px;
        width: 100px;
        height: 100px;
      }
      .name-dob-wrapper,
      .email-container {
        margin: 0 auto;
        width: 100%;
      }
      .name-dob-wrapper {
        flex-direction: row;
        span {
          margin-right: auto;
        }
      }
    }
    .edit-form {
      .name-email-wrapper {
        .email-container {
          display: none;
        }
      }
      .dob-wrapper {
        width: 100%;
        .month-wrapper {
          width: 40%;
        }
        .year-wrapper {
          width: 26%;
        }
      }
    }
  }
}

@media (max-width: 880px) {
  .user-profile-wrapper {
    .profile-top-wrapper {
      flex-direction: column;
      .info-wrappers {
        width: 100%;
      }
    }
  }
}
