.create-container {
  position: fixed;
  width: 400px;
  margin: 0 auto;
  margin-top: 70px;
  margin-left: 50%;
  left: -200px;
  background-color: $dark;
  color: white;
  border-radius: 25px;
  box-shadow: $divShadow;
  box-shadow: 5px 9px 60px rgba(0, 0, 0, 0.2);
  padding: 25px;
  transition: 0.5s;
  z-index: 25;
  .panel-top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-left: 10px;
    }
    .exit-btn {
      background: none;
      border: none;
      outline: none;
      margin-left: auto;
      width: 25px;
      height: 25px;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .exit-btn:active {
      transform: scale(0.8);
    }
  }

  .create-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        font-family: $font;
        font-size: 1rem;
        font-weight: 600;
        color: $white;
        margin-bottom: 5px;
        margin-left: 10px;
      }
      input,
      textarea {
        border: none;
        background: none;
        outline: none;
        background-color: $inputGrey;
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
        padding: 0 10px;
        height: 40px;
        border-radius: 7px;
      }
      input::placeholder {
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: $placeholderDark;
        opacity: 0.5;
      }
      textarea {
        padding: 8px 10px;
        height: 200px;
        margin-bottom: 15px;
        resize: none;
      }
      textarea::placeholder {
        font-family: $font;
        font-size: 1.2rem;
        font-weight: 600;
        color: $placeholderDark;
        opacity: 0.5;
      }
      .p-wrapper {
        display: flex;
        p {
          font-family: $font;
          font-size: 1rem;
          font-weight: 600;
          color: $white;
          margin-bottom: 5px;
          margin-left: 10px;
        }
        button {
          background: none;
          border: none;
          outline: none;
          border-radius: 50%;
          margin-left: auto;
          cursor: pointer;
          transition: 0.2s;
        }
        button:active {
          transform: scale(0.8);
        }
      }
    }
    .checkbox-wrapper {
      display: flex;
      align-items: center;
      background-color: $inputGrey;
      margin-top: 15px;
      width: 50%;
      height: 40px;
      padding: 0 15px;
      border-radius: 7px;
      label {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
        cursor: pointer;
      }
      input {
        display: flex;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-left: auto;
        cursor: pointer;
        border: none;
      }
    }
    .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 15px;
      .form-btns {
        margin: 5px 15px;
        background-color: $inputGrey;
        color: white;
      }
    }
    .select-grid {
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 5px;
      margin-bottom: 30px;
      select {
        width: 35px;
        height: 30px;
        background-color: $inputGrey;
        border: none;
        outline: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
      }
    }
    .bottom-p {
      margin: 15px;
    }
    .create-submit {
      background: none;
      border: none;
      outline: none;
      // margin-top: 30px;
      padding: 10px 0;
      background-color: $second;
      color: white;
      border-radius: 10px;
      font-family: $font;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;
    }
    .create-submit:active {
      transform: scale(0.9s);
    }
    .create-cancel {
      background: none;
      border: none;
      outline: none;
      margin-top: 15px;
      padding: 10px 0;
      color: white;
      border-radius: 10px;
      font-family: $font;
      font-size: 1.1rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.2s;
      display: none;
    }
    .input-error {
      font-size: 0.9rem;
      font-weight: 600;
      color: $red;
      margin-top: 5px;
      margin-left: 5px;
    }
  }
}
.form-btns {
  background: none;
  border: none;
  outline: none;
  padding: 6px 20px;
  background-color: $lightBlue;
  border-radius: 25px;
  margin-right: 15px;
  font-family: $font;
  font-size: 1rem;
  font-weight: 600;
  color: $dark;
  cursor: pointer;
}

.create-post-container {
  position: fixed;
  // width: 600px;
  // margin: 0 auto;
  // margin-top: 0px;
  // margin-left: 50%;
  // left: -300px;

  width: 500px;
  margin: 0 auto;
  margin-top: 70px;
  margin-left: 50%;
  left: -250px;

  background-color: $white;
  box-shadow: 5px 9px 60px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 20px;
  border-radius: 21px;
  z-index: 10;
  .no-profile-post {
    display: flex;
    flex-direction: column;

    width: 100%;
    p {
      font-size: 1.3rem;
      font-weight: 500;
      margin-bottom: 10px;
    }
    a {
      background-color: $second;
      color: $white;
      padding: 5px 20px;
      border-radius: 9px;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      margin-top: 25px;
      margin-right: auto;
    }
    span {
      font-size: 1.2rem;
      font-weight: 500;
      background-color: $second;
      color: $white;
      padding: 2px 10px;
      border-radius: 9px;
    }
  }
  form {
    display: flex;
    width: 100%;
    #post {
      width: 80%;
      height: 200px;
      background-color: $lightBlue;
      border: none;
      outline: none;
      font-family: $font;
      font-size: 1rem;
      font-weight: 600;
      color: $dark;
      border-radius: 9px;
      padding: 15px;
    }
    #post::placeholder {
      font-family: $font;
      font-size: 1rem;
      font-weight: 600;
      color: $dark;
      opacity: 0.5;
    }
    input[type="submit"] {
      background: none;
      border: none;
      outline: none;
      margin-top: auto;
      margin-left: 25px;
      width: 20%;
      height: 40px;
      padding: 5px 0;
      background-color: $second;
      color: white;
      border-radius: 10px;
      font-family: $font;
      font-size: 0.9rem;
      font-weight: 600;

      cursor: pointer;
    }
  }
}

.workspace-create {
  width: 500px;
  left: -250px;
  margin-top: -40px;
}

.create-component {
  margin-left: auto;
  margin-right: 5%;
  width: 400px;
  background-color: $white;
  box-shadow: $divShadow;
  border-radius: 19px;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    font-family: $font;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
    img {
      width: 25px;
      height: 25px;
      margin-right: 15px;
    }
    p {
      font-family: $font;
      font-size: 1rem;
      font-weight: 500;
      color: $lightGrey;
      transition: 0.2s;
    }
  }

  .create-project:hover {
    background-color: $lightBlue;
    p {
      color: $blue;
    }
  }
  .create-post:hover {
    background-color: $lightGreen;
    p {
      color: #20bf55;
    }
  }
}

@media (max-width: 460px) {
  .create-container {
    width: 100%;
    left: 0;
    margin-left: 0;
    margin-top: 58px;
    border-radius: 0;
    .exit-btn {
      display: none;
    }
    .create-form {
      .create-cancel {
        display: block;
        padding: 0;
      }
    }
  }
  .create-component {
    box-shadow: none;
    padding: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px $lightBlue solid;
    border-radius: 0;
    button {
      img {
        margin: 0;
      }
      p {
        display: none;
      }
    }
  }
}
@media (max-width: 630px) {
  .create-component {
    // width: 94%;
    button {
      img {
        margin-right: 8px;
      }
    }
  }
}

@media (max-width: 950px) {
  .create-component {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
