// Colors
// $dark: #202022;
$dark: #1e212b;
$light: #f4f5f8;
$lighterMain: #39393c;
// $textLight: #cad1e6;
$white: white;
// $second: #5fd396;
// $blue: #7C8BFB;
$second: #2767fa;
$blue: #2767fa;
$bgBlue: #eaf0ff;
$lightBlue: #eaf0ff;
$textLight: #93b3fd;
$lightGrey: #768392;
$inputGrey: #3e424e;
$placeholderDark: #8e92a0;
$green: #20bf55;
$lightGreen: #e6ffef;
$red: #f8323b;
$lightRed: #fcecec;
$bgOpacity: rgba(30, 33, 43, 0.29);
// $lightBlue: #f5f8ff;

// Font
$font: "Nunito", sans-serif;

$divShadow: 2px 6px 30px rgba(0, 0, 0, 0.08);
