.options-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $bgOpacity;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  .options {
    background-color: $white;
    box-shadow: $divShadow;
    width: 250px;
    border-radius: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    a,
    button {
      background: none;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      font-family: $font;
      font-size: 1.2rem;
      font-weight: 400;
      color: $dark;
      padding: 15px 0;
      transition: 0.2s;
      text-align: center;
      cursor: pointer;
    }

    .delete-btn {
      color: $red;
    }
    .delete-btn:hover {
      background-color: $lightRed;
    }
    .share-btn:hover {
      color: $green;
      background-color: $lightGreen;
    }
    .add-btn:hover {
      color: $blue;
      background-color: $lightBlue;
    }
  }
}
